body {
  height:0px;
  width: 0px;
  display: grid;
  background-color: blue;
  gap: 50px;
}

#h2 {
  display: flex;
  justify-content: center;
}

#App {
  top: 100px;
  left: 100px;
  height: 1000px;
  width: 1500px;
  display: flex;
  justify-content: center;
  background-color: rgb(177, 217, 247);
}

#mainContainer {
  top: 200px;
  height: 800px;
  width: 1000px;
  /* display: flex; */
  background-color: rgb(248, 227, 166);
}

#badgeContainer {
  top: 100px;
  left: 100px;
  height: 600px;
  width: 700px;
  border: 1px black solid;
  background-color: rgba(149, 179, 229, 0.712);
  background-size: cover;
  position: relative;
  /* overflow: wrap; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#cuisineContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px,1fr));
  gap: 10px;
}


#CuisineBadge {
  height: 50px;
  width: 100px;
  display: flex;
  background-color: black;
  border: 1px solid white;
  flex-wrap: wrap;
  scale: 100%;
  margin: 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 10px gray;
}

#button {
  height: 30px;
  width: 30px;
background-color: red;
}